<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rejoindre une partie</title>
        <link rel="stylesheet" href="css/master.css">
    </head>
    <body class="join">
        <form>
            <div class="form-wrapper">
                <img src="../src/img/avatar_1.png">

                <div class="btn color-pink">
                    <p>Image aléatoire</p>
                </div>

                <div class="pseudo-choice">
                    <label for="name">Choisis ton pseudo !</label>
                    <input id="name" type="text">
                </div>
            </div>

            <div class="submit-wrapper">

            </div>
        </form>
    </body>
</html>