.wrapper {
    display: flex;
    width: calc(100vw - 10vh);
    height: 90vh;
    margin: 5vh;
    padding-top: 2rem;
    border-radius: 25px;
    background-color: var(--color_grey);
}

.wrapper > div {
    height: 100%;
}

.wrapper .players-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.wrapper .settings-section,
.wrapper .game-section {
    width: 80%;
}
/* SETTINGS SECTION */
.wrapper .settings-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .settings-section form {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.wrapper .settings-section form > p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color_word_font_fill);
    text-align: center;
}
.wrapper .settings-section form .game-duration,
.wrapper .settings-section form .words-number,
.wrapper .settings-section form .invite-game {
    display: flex;
    flex-direction: column;
}
.wrapper .settings-section form .game-duration,
.wrapper .settings-section form .words-number {
    margin-bottom: 2rem;
}
.wrapper .settings-section form .invite-game {
    margin-bottom: 2.5rem;
}
.wrapper .settings-section form .invite-game .copy_link {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--color_white);
}
.wrapper .settings-section form .invite-game .copy_link p {
    margin: .5rem;
    padding: 1rem 5rem;
    background-color: var(--color_grey);
    font-weight: 500;
    color: var(--color_black);
    cursor: pointer;
}
.wrapper .settings-section form .invite-game .copy_link input[type="text"] {
    width: 50%;
    margin: .5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: .2rem;
    background-color: var(--color_grey);
    font-weight: 500;
    color: var(--color_word_font_fill);
    outline: none;
}
.wrapper .settings-section form .invite-game .copy_link input[type="button"] {
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--color_player_blue);
    font-size: 1rem;
    font-weight: 500;
    color: var(--color_white);
    cursor: pointer;
}
.wrapper .settings-section form label {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color_word_font_fill);
}

.wrapper .settings-section form > input[type="button"] {
    align-self: center;
    padding: 1rem 3rem;
    border: none;
    border-radius: 10px;
    background-color: var(--color_player_blue);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color_white);
    cursor: pointer;
}

/* GAME SECTION */
/* WORDS */
.wrapper .game-section .words {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
    column-gap: 10px;
    row-gap: 10px;
    flex-direction: column;
    height: 75%;
    padding: 3rem 0 2rem 0;
}

/* PLAYER INPUT */
.wrapper .game-section .points-container {
    height: 20%;
}
.wrapper .game-section .player-input {
    display: flex;
    align-items: center;
    margin: 5% 0 0 15%;
}

.wrapper .game-section .player-input .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 2rem;
}

.wrapper .game-section .player-input .input .player-name {
    padding: 1rem 3rem .6rem 3rem;
    border-radius: 10px 10px 0 0;
    background-color: var(--color_player_yellow);
    color: var(--color_white);
    font-size: 1.1rem;
    font-weight: 500;
}
.wrapper .game-section .player-input .input .player-name.color-green {
    background-color: var(--color_player_green);
}
.wrapper .game-section .player-input .input .player-name.color-pink {
    background-color: var(--color_player_light_pink);
}
.wrapper .game-section .player-input .input .player-name.color-purple {
    background-color: var(--color_player_dark_pink);
}
.wrapper .game-section .player-input .input .player-name.color-brown {
    background-color: var(--color_player_brown);
}
.wrapper .game-section .player-input .input .player-name.color-blue {
    background-color: var(--color_player_blue);
}
.wrapper .game-section .player-input .input .player-name.color-yellow {
    background-color: var(--color_player_yellow);
}

.wrapper .game-section .player-input .input input {
    width: 100%;
    padding: 1.3rem 2rem;
    border: 3px solid var(--color_player_yellow);
    border-radius: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    outline: none;
}
.wrapper .game-section .player-input .input input.color-purple {
    border: 3px solid var(--color_player_dark_pink);
}
.wrapper .game-section .player-input .input input.color-pink {
    border: 3px solid var(--color_player_light_pink);
}
.wrapper .game-section .player-input .input input.color-yellow {
    border: 3px solid var(--color_player_yellow);
}
.wrapper .game-section .player-input .input input.color-green {
    border: 3px solid var(--color_player_green);
}
.wrapper .game-section .player-input .input input.color-blue {
    border: 3px solid var(--color_player_blue);
}
.wrapper .game-section .player-input .input input.color-brown {
    border: 3px solid var(--color_player_brown);
}

.wrapper .game-section .player-input .points-container {
    display: flex;
    margin-top: 3.5rem;
}

.wrapper .game-section .player-input .points-container p {
    color: var(--color_word_font_fill);
}

.wrapper .game-section .player-input .points-container .points-count {
    margin-right: .3rem;
    font-size: 2rem;
}
.wrapper .game-section .player-input .points-container .points-title {
    align-self: flex-end;
    margin-bottom: .4rem;
    font-size: 1.2rem;
}

.wrapper .hidden {
    display: none;
}