section.playground {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 75% 25%;
    width: calc(100vw - 10vh);
    height: 90vh;
    margin: 5vh;
    border-radius: 25px;
    background-color: var(--color_grey);
}


section.playground .players-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 1/3;
}


section.playground .game-words {
    position: relative;
    padding-top: 5rem;
}

section.playground .player-input {
    display: flex;
    align-items: center;
    grid-column: 2/3;
    margin-left: 15%;
}

section.playground .player-input .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 2rem;
}

section.playground .player-input .input .player-name {
    padding: 1rem 3rem .6rem 3rem;
    border-radius: 10px 10px 0 0;
    background-color: var(--color_player_yellow);
    color: var(--color_white);
    font-size: 1.1rem;
    font-weight: 500;
}

section.playground .player-input .input input {
    width: 100%;
    padding: 1.3rem 2rem;
    border: 3px solid var(--color_player_yellow);
    border-radius: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    outline: none;
}

section.playground .player-input .points-container {
    display: flex;
    margin-top: 3.5rem;
}

section.playground .player-input .points-container p {
    color: var(--color_word_font_fill);
}

section.playground .player-input .points-container .points-count {
    margin-right: .3rem;
    font-size: 2rem;
}
section.playground .player-input .points-container .points-title {
    align-self: flex-end;
    margin-bottom: .4rem;
    font-size: 1.2rem;
}

section.join {

}