.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 3rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn svg {
    height: 2rem;
    margin-right: 1.5rem;
}

.btn p {
    font-size: 1.2rem;
    color: var(--color_white);
}

.btn.color-pink {
    background-color: var(--color_player_light_pink);
}